.frontera-item {
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
}

.bandera {
    width: 25px;
    height: 20px;
    margin-right: 10px;
}

.frontera-item p {
    margin: 0;
}

.nombre {
    flex: 1;
}

.capital {
    flex: 1;
}


/* Opcional: Ajustar el espacio entre las columnas */

.frontera-item>*+* {
    margin-left: 10px;
}